<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Traffic City</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body class="bg-green">
    <%- include('navbar.ejs') -%>
    <div class="sections section-home">
        <section class="homepage">
            <h1 class="title">Welcome to AirTraffic-City</h1>
        </section>
        <section class="homepage">
            <h1 class="title">Welcome to AirTraffic-City</h1>
        </section>
        <section class="homepage">
            <h1 class="title">Welcome to AirTraffic-City</h1>
        </section>
    </div>
</body>
</html>