<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in | ATC</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body style="height: 100vh; background: linear-gradient(90deg, rgba(3,0,60,1) 0%, rgba(68,68,255,1) 38%, rgba(255,255,255,1) 100%);">
    <%- include('navbar.ejs') -%>
    <div class="sections">
        <section>
            <%_ if(fail != 'password') { %>
                <form hx-swap="outerHTML" hx-post="/login/check-user">
                    <h2>Log in</h2>
                    <label for="name/email">Name/E-mail</label>
                    <input  type="name" name="email" id="email" autocomplete="on" placeholder="Start typing...">
                    <button class="form-submit">Next</button>

                    <p style="padding-top: 10px; text-align: center;">Don't have an account? <a href="/signup">Sign up here</a></p>
                </form>
            <%_ } else { %>
                <form method="POST" action="/login">
                    <h2>Log in <button onClick="window.location.reload();" class="form-reset">Reload</button></h2>
                    <label for="name/email">Name/E-mail</label>
                    <input  type="name" name="email" id="email" autocomplete="on" placeholder="Start typing...">
                    <label for="Password">Password <span style="color: red;">Incorrect. Try again</span> </label>
                    <input type="password" name="password" id="password" autocomplete="on" placeholder="Start typing..." style="border: 1px solid red;">
                    <button type="submit" class="form-submit">Log in</button>
                </form>
            <%_ } %>
        </section>
    </div>
</body>
</html>