<link rel="stylesheet" href="/css/private.css">
<script src="https://kit.fontawesome.com/1b44e05b6f.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
<section id="navbar" class="navbar sticky transform-101 main-section">
    <div style="margin-left: 10px;">
        <ul id="logo">
            <li style="display: flex;"><a href="/home" class="transform-115"><img src="../../images/icon.png" alt="" style="height: 20px; margin-right: 10px;">AirTraffic City</a><span style="margin-left: 10px;"> v1.0.485</span></li>
        </ul>
        
    </div> 
    <div style="margin-right: 10px;">
        <ul id="expanded">
            <li><a href="/search" class="transform-115"><img src="../../images/private/search.svg" alt="" style="height: 20px; margin-right: 10px;">Search</a></li>
           <li><a href="/leaderboard" class="transform-115"><img src="../../images/private/leaderboard.svg" alt="" style="height: 20px; margin-right: 10px;">Leaderboard</a></li>
           <li><a href="/settings/profile" class="transform-115"><img src="../../images/private/settings/cog.svg" alt="" style="height: 20px; margin-right: 10px;">Options</a></li>
        </ul>
        <ul id="reduced">
            <button id="navbar-expand" onclick="showExpandedOptions()"><img src="https://api.iconify.design/material-symbols:menu.svg" alt="" style="height: 25px;"></button>
        </ul>
        <ul id="options" style="display: none;">
            <li><a href="/search" class="transform-115"><img src="../../images/private/search.svg" alt="" style="height: 20px; margin-right: 10px;">Search</a></li>
           <li><a href="/leaderboard" class="transform-115"><img src="../../images/private/leaderboard.svg" alt="" style="height: 20px; margin-right: 10px;">Leaderboard</a></li>
           <li><a href="/settings/profile" class="transform-115"><img src="../../images/private/settings/cog.svg" alt="" style="height: 20px; margin-right: 10px;">Options</a></li>
        </ul>
    </div>
</section>

<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        console.log('scroll')
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            console.log('scroll top more than 10')
            document.getElementById("navbar").style.maxWidth = "100%";
            document.getElementById("navbar").style.borderRadius = "0";
        } else {
            document.getElementById("navbar").style.maxWidth = "70em";
            document.getElementById("navbar").style.borderRadius = "0 0 10px 10px";

        }
    }

    function showExpandedOptions() {
        var x = document.getElementById("options");
        if (x.style.display === "flex") {
            x.style.display = "none";
        } else {
            x.style.display = "flex";
        }
    }
</script>