* {
    padding: auto;
    margin: auto;
    font-family: arial;
    box-sizing: border-box;
}

body {
    height: max-content;
}

.sections {
    padding-top: 18vh;
    padding-bottom: 20px;
}

a {
    all: unset;
    cursor: pointer;;
}

table {
    width: 100%;
    border: 2px solid rgba(101, 101, 101, 0.538);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    margin-bottom: 20px;
    margin-top: 20px;
}

table:hover {
    border: 2px solid rgba(245, 238, 238, 0.766);
    transition: 0.5s ease-in-out;
}

table tbody {
   overflow: auto;
}

td {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.205);
    text-align: center;
    white-space: nowrap;
}

p {
    color: white;
}

ul a:hover p {
    color: black;
    transition-duration: 0.5s;
    transition: ease-out;
}

h4 {
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: rgba(195, 195, 195, 0.807);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2em);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    margin: 15px;
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 5;
}

.navbar a {
    display: flex;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    transition: ease-in;
    transition-duration: 0.4s;
    border-radius: 45px;
    
}

.navbar a:hover {
    transition: ease-out;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255);
    color: black;
}

.navbar a p {
    transition-duration: 0.5s;
    transition: ease-out;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
}

.navbar li {
    margin: 20px;
    text-decoration: none;
}

section {
    width: 100%;
    border: 2px solid rgba(103, 103, 103, 0.1);
    box-shadow: 0 0 20px rgba(8,7,16,0.8);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
}

section .detail {
    padding: 10px 0px;
}

section:nth-child(even) {
    background-color: rgba(31, 31, 31, 0.507);
}

/* .profile-inner {
    background-color: rgba(67, 67, 67, 0.507);
} */

section:not(:first-child) {
    margin-top: 20px;
}

h1, thead, tbody {
    color: white;
}

section:nth-child(even) p {
    color: white;
}

section:nth-child(odd) {
    background-color: rgba(56, 56, 56, 0.599)
}

.main-section {
    max-width: 70em;
    min-width: 50em;
}

.page-title {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    padding: 20px;
    background-color: rgba(67, 67, 67, 0.507);
    border: 2px solid rgba(103, 103, 103, 0.1);
    box-shadow: 0 0 30px rgba(8,7,16,0.6);
    border-radius: 10px;
    transition: 0.5s;
    margin-left: 0px;
    padding-left: 10px;
    color: white;
}

button{
    width: 100%;
    background-color: #d3d3d3;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #ffffff;
}


.cards {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.cards .container img {
    border: 2px solid rgba(255, 255, 255, 0.623);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 15px;
    transition: 0.5s;
    opacity: 0.8;
    width: 80%;
    height: 300px;
    object-fit: cover;
}

.cards .container img:hover {
    border: 2px solid rgba(255, 255, 255);
    opacity: 1;
    cursor: pointer;
}

.cards p {
    padding: 20px;
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.container {
    display: grid;
    text-align: center;
    transition: 0.5s;
}

.content {
    margin: 0;
}

.content-child {
    margin-left: 10px;
}

.content-settings {
    display: flex;
    justify-content: center;
}

.main-section-settings {
    margin: 0 10px;
}

#sidebar-settings {
    width: 300px;
    margin: 20px 20px;
    height: fit-content;
    position: sticky;
    top: 140px;
}

#sidebar-settings .sidebar-image {
    width: 30px;
    height: auto;
    margin: 0;
}

#sidebar-settings a {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#sidebar-settings a:not(#active) span {
    margin-left: -15px;
    transition: 0.5s;
    color: white;
    font-weight: 400;
}

#sidebar-settings a:hover:not(#active) span {
    margin-left: 5px;
    transition: 0.5s;
    color: black;
    font-weight: 600;
}

#sidebar-settings a:not(#active) img {
    opacity: 0;
    animation: rollOut 0.5s;
}

#sidebar-settings a:hover:not(#active) img {
    animation: rollIn 0.5s;
    opacity: 1;
    z-index: 2;
}

@keyframes rollIn {
    0% { opacity: 0; transform: translateX(-80%)}
    100% { opacity: 1; transform: translateX(0px); display: block;} 
} 

@keyframes rollOut {
    0% { opacity: 1; transform: translateX(0px)} 
    100% { opacity: 0; transform: translateX(-80%); display: none;}
} 

a {
    all: unset;
    cursor: pointer;
    display: block;
    width: inherit;
}

.sections p a {
    all: unset;
    transition: 0.5s;
    background-color: rgba(238, 238, 238, 0.296);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(57, 57, 57, 0.8);
    padding: 5px;
    margin: 30px 0px;
    cursor: pointer;
}

#remove-request {
    color: red;
    font-weight: 800;
}

.sidebar {
    margin-top: 0;
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: rgba(9, 9, 9, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(57, 57, 57, 0.8);
}

.profile-sidebar {
    width: 100%;
    margin-top: 0;
}

#profile-top-container {
    height: 15em;
    position: relative;
    background-color: #3131319d;
    margin-bottom: 10px;
    border-radius: 10px;
}

#profile-top-img {
    position: absolute;
    transform: translate(-50, -50);
    filter: blur(2px);
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
    transition: 1s;
}

#profile-top-details {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    left: 50%;
    top: 50%;
    text-align: center;
    padding: 20px;
    background-color: #00000070;
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    transition: 1s;
}

#profile-top-details .container {
    margin: auto;
    text-align: left;
    margin-left: 10px;
    overflow: hidden;
    display: grid;
    align-content: center;
    padding: 20px 0;
}

#profile-top-details #profile-picture {
    width: 80%;
    height: 100%;
    border: 1px rgb(76, 76, 76) solid;
    border-radius: 10px;
    object-fit: cover;
}

.sidebar img {
    height: 200px;
    width: inherit;
    border-radius: 10px;
    object-fit: cover;
}

.items {
    font-size: 18px;
}

.items a {
    margin: 10px 0px;
    transition: 0.5s;
}

#active{
    transform: scale(1.15);
    padding-left: 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 700;
    transition-duration: 0.5s;
}

#active span {
    margin-left: 5px;
}

.sidebar a {
    padding: 20px 0 20px 10px;
    margin: 10px 0;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-weight: 500;
    display: block;
    width: inherit;
    background-color: rgba(148, 148, 148, 0.4);
    color: white;
}

.sidebar a:hover {
    padding-left: 20px;
    background-color: rgba(1, 253, 135, 0.121);
    border: 2px solid black;
    font-weight: 700;
    transition-duration: 0.5s;
}

.sidebar-title {
    background-color: rgba(167, 167, 167, 0.8);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(57, 57, 57, 0.8);
    padding: 10px;
}

.content-show {
    background-color: rgba(238, 238, 238, 0.296);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(57, 57, 57, 0.8);
    width: 95%;
    height: 100%;
    padding: 10px;
    text-align: center;

}

.setting {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 0;
}

.setting p {
    text-align: left;
}

.item-text {
    margin-left: none;
}

.level {
    height: 400px;
}

.level-container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20px 10px;
}

.level-container img {
    height: auto;
    width: 80%;
    border-radius: 8px;
    transition: 0.5s;
}

.level-container img:hover {
    border: 5px solid white;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05);
    transition: 0.5s 
}

.level-details p {
    overflow-y: auto;
    overflow-x: auto;
    height: 20vh;
    padding: 5px;
}

.container-grid-split-middle {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
}

#form-change-pfp {
    display: grid;
    padding-bottom: 10px;
}

#form-change-pfp img {
    height: 20em;
    object-fit: cover;
}

#form-change-pfp .container {
    width: 95%;
}



#form-change-pfp .container button {
    border-radius: 0 10px 10px 0;
}

.changed {
    animation: changed 0.5s ease infinite;
}

@keyframes changed {
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.not_changed {
    animation: not_changed 1s ease-out infinite;
}

@keyframes not_changed {
    50% { transform: scale(0.7); }
    100% { transform: scale(1); }
}

#form-change-pfp .container input {
    border-radius: 10px 0 0 10px;
}

#form-change-pfp .container {
    display: flex;
}

#edit_details_form {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

#edit_details_form .field {
    margin: 20px 5px;
}

#edit_details_form .field input {
    height: 50px;
    color: white;
    background-color: rgba(127, 127, 127, 0.266);
    transition-duration: 1.2s;
}

.container #pfp-entry {
    color: white;
    background-color: rgba(127, 127, 127, 0.266);
    transition-duration: 1.2s;
}

#reset-img {
    transition-duration: 1s;
}

.admin-reset-image {
    width: 100%;
    height: 100%;
}

.admin-reset-image img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

#person {
    width: 70%;
}

#profile-top-container:hover #profile-top-img {
    filter: blur(8px);
    transition: 0.2s;
}

#profile-top-container:hover #profile-top-details {
    width: 100%;
    height: 100%;
    transition: 0.2s;
}


#friends a {
    display: block;
    margin: 20px 0;
    padding: 10px;
}

#friends a:hover {
    display: block;
    margin: 20px 0;
    padding: 60px 0;
}

#send-request-in-profile {
    transition: 1s
}

#send-request-in-profile:hover {
    padding: 20px 0;
    transition: 0.2s;
}

.content #person img {
    height: 7em;
    object-fit: cover;
    border-radius: 10px;
}

/* LEVELS PAGE CSS */

.container-levels {
    padding: 20px;
    margin: 10px 0px;
}

.container-levels .title h2 {
    font-size: 20px;
}

.container-levels .inner {
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
    width: 100%;
    margin-left: 0;
}

.container-level {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px 0;
}

.container-level img {
    width: 100%;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.5s;
    object-fit: cover;
}

.container-level img:hover {
    opacity: 1;
}

.container-level .details {
    padding: 20px;
}

.container-level .details p {
    padding: 20px 5px;
    overflow: auto;
    height: 100px;
}


/* SEARCH CSS */

.search form {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
    padding: 20px;
    transition: 0.5s;
}

.search form button {
    width: 100%;
    margin-left: 0;
}

.search .details {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.2s;
    background-color: inherit;
    border-radius: 10px;
}

.search .details:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.2s;
}

form{
    background-color: rgba(169, 169, 169, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}


form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

input {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    color: white;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

.dropdown {
    display: grid;
    grid-template-columns: 95% 5%;
}

.dropdown h1 {
    margin-left: 0;
}

.dropdown a:not(.collapsed)+#people-results {
    display: none;
}

.results {
    padding: 20px 10px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
}

.people .info img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;
}

.levels .info img {
    height: 100px;
    width: 250px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;
}

.result {
    background-color: grey;
    border-radius: 10px;
    border: 2px solid white;
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 10px 0px;
}

.result button {
    width: 100%;
    padding: 10px 20px;
}

.result a {
    all: unset;
    cursor: pointer;
}

.info {
    display: flex;
    margin: 20px;
}

.inner {
    margin-left: 10px;
}

.people .inner {
    float: left;
}

.friend {
    padding: 20px;
    margin-left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    transition: 0.5s;
}

.friend img {
    margin-left: 0;
    margin-right: 0;
}

.friend .information {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 0;
    margin-left: 0;
}

.friend .information .game-details {
    margin-right: 0;
}

.edit {
    display: flex;
    flex-wrap: wrap;
}

.edit img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 10px;
}

.edit form {
    display: flex;
    width: 100%;
    border: none;
}

.edit form button {
    margin: 0px;
}

.details {
    margin-top: 0;
    width: 100%;
}

.details section {
    margin-bottom: 10px;
    margin-top: 0;
}

.friends section {
    margin-left: 0;
    width: 100%;
}

.friends table {
    margin-top: 10px;
    overflow: hidden;
}

.friends img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.friends #person {
    display: grid;
    grid-template-columns: 30% 60%;
}

.friends .sidebar {
    padding: 10px 5px;
    text-align: left;
}

#friend-details {
    margin-top: 0;
}


/* PRIVACY */

#privacy-form {
    padding: 20px;
    margin-top: 20px;
}

select {
    width: 60%;
    font-size: 15px;
    margin-right: 0;
    /* display: block; */
    text-align: center;
    background-color: rgb(182, 182, 182);
    padding: 20px;
    border-radius: 10px;
}

option {
    padding: 20px 0;
}

label {
    color: white;
    margin-left: 0;
}

.container-flex {
    padding: 20px 0;
    display: flex;
}


/* SETUP PAGES */

.setup-middle {
    margin: auto;
    margin-top: 20%;
}

.bg-blue {
    background: linear-gradient(90deg, rgb(6, 0, 120) 0%, rgb(61, 61, 151) 38%, rgb(136, 72, 181)100%);
}

.bg-green {
    background: linear-gradient(90deg, rgb(2, 92, 0) 0%, rgb(17, 173, 9) 38%, rgb(90, 204, 29) 100%);
}

.bg-main {
    background: linear-gradient(45deg, rgba(3,0,60,1) 0%, rgba(68,68,255,1) 38%, rgb(141, 0, 241) 100%);
}

.bg-vibrant {
    background: linear-gradient(90deg, rgb(188, 52, 212) 0%, rgb(255, 68, 137) 38%, rgb(141, 0, 241) 100%);
}

.bg-levels {
    background: linear-gradient(90deg, rgb(103, 42, 48) 0%, rgb(142, 25, 68) 38%, rgb(255, 128, 0) 100%);
}

.bg-settings {
    background: linear-gradient(90deg, rgb(92, 92, 184) 0%, rgb(91, 163, 218) 38%, rgb(82, 61, 243) 100%);
}

.transform-105:hover {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05);
    transition: 0.5s;
}

.transform-105, .transform-115 {
    transition: 0.5s;
}

.transform-115:hover {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15);
    transition: 0.5s;
}

.color-red {
    color: red;
}

.weight-600 {
    font-weight: 600;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.tcenter {
    text-align: center;
}

.fs15 {
    font-size: 15px;
}

.m10 {
    margin: 10px;
}

.pt15vh {
    padding-top: 15vh;
}

.w100 {
    width: 100%;
}

.grid-middle {
    display: flex;
    width: 100%;
}

.grid-30-70 {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
}

.container {
    width: 100%;
    margin-top: 0;
    height: 100%;
    display: block;
    max-height: 500px;
}

.container img {
    height: auto;
    width: 100%;
}

.profile-section {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.557);
    transition: 0.5s;
}

.profile-section a {
    transition: 0.5s;
    padding: 5px;
    border-radius: 10px;
}

.profile-section a:hover {
    background-color: rgb(152, 152, 152);
    transition: 0.2s;
}

textarea {
    height: auto;
    width: 100%;
    overflow-y: scroll;
    resize: none;
}

/* NEW USER */

#new-user-form  {
    margin-bottom: 20px;
}

#new-user-form input {
    height: 50px;
    border-radius: 15px;
}

#new-user-form .edit {
    display: grid;
    align-content: space-between;
    padding: 20px;
}

.new-user-form-revert {
    padding: 10px 30px;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    transition: 0.5s;
}

.new-user-form-revert:hover {
    cursor: pointer;
    background-color: white;
    transition: 0.5s;
}