* {
    padding: auto;
    margin: auto;
    font-family: arial;
    box-sizing: border-box;
}

body {
    height: max-content;
    background: var(--background-main);
}

.sections {
    padding-top: 18vh;
    padding-bottom: 20px;
}

a {
    all: unset;
    cursor: pointer;;
}

table {
    width: 100%;
    border: 2px solid var(--main-secondary);
    box-shadow: 0 0 40px var(--main-secondary);
    padding: 10px;
    border-radius: 15px;
    transition: var(--transition-0-5s);
    margin-bottom: 20px;
    margin-top: 20px;
}

table:hover {
    border: 2px solid var(--main-tertiary);
    transition: var(--transition-0-5s);
}

table tbody {
   overflow: auto;
}

td {
    padding: 10px;
    background-color: var(--main-secondary);
    text-align: center;
    white-space: nowrap;
}

p {
    color: var(--main-text);
}

p:has(span) {
    background-color: var(--main-primary);
}

ul a:hover p {
    color: black;
    transition: var(--transition-0-5s);
}

h4 {
    color: var(--main-text);
}

#navbar {
    transition: var(--transition-0-2s);
}

.navbar {
    background: var(--navbar-background);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2em);
    border: 2px solid var(--main-tertiary);
    border-top: none;
    box-shadow: 0 0 100px var(--main-tertiary);
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar a {
    display: flex;
    color: var(--opposite-text);
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    transition: var(--transition-0-5s);
    border-radius: 45px;
}

.navbar a:hover {
    transition: var(--transition-0-5s);
    background-color: var(--main-secondary);
    color: var(--main-text);
}

.navbar span {
    color: var(--opposite-text);
}

.navbar a p {
    transition: var(--transition-0-5s);
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
}

.navbar li a {
    margin: 20px;
    text-decoration: none;
    color: var(--opposite-text);
}

.navbar #options {
    position: fixed;
    z-index: inherit;
    top: 100px;
    right: 0px;
    background: var(--navbar-background);
    backdrop-filter: blur(2em);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-expand {
    all: unset; 
    cursor: pointer; 
    padding: 10px;
}

section {
    width: 100%;
    border: 2px solid var(--main-tertiary);
    box-shadow: 0 0 10px var(--main-tertiary);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: var(--main-primary);
}

section .detail {
    padding: 10px 0px;
}

h1, thead, tbody {
    color: var(--main-text);
}

.main-section {
    max-width: 80em;
    min-width: 25em;
}

.page-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title h1 {
    margin: 0 10px;
}

.page-title img {
    height: 40px;
    margin: 0;
}

.title {
    padding: 20px;
    background-color: var(--main-secondary);
    border: 2px solid var(--main-tertiary);
    box-shadow: 0 0 15px var(--main-tertiary);
    border-radius: 10px;
    transition: var(--transition-0-5s);
    margin-left: 0px;
    padding-left: 10px;
    color: var(--main-text);
    display: flex;
    justify-content: center;
    width: 100%;
}

.title img {
    margin-left: 5px;
}

button{
    width: 100%;
    background-color: var(--main-secondary);
    color: var(--main-text);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition-0-5s);
    border: none;
}

button:hover {
    background-color: var(--main-tertiary);
}


.cards {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.cards .container img {
    border: 2px solid var(--main-tertiary);
    box-shadow: 0 0 40px var(--main-tertiary);
    border-radius: 15px;
    transition: var(--transition-0-5s);
    opacity: 0.8;
    width: 80%;
    height: 300px;
    object-fit: cover;
}

.cards .container img:hover {
    border: 2px solid var(--main-secondary);
    opacity: 1;
    cursor: pointer;
}

.cards p {
    padding: 20px;
    color: var(--main-text);
    font-weight: 300;
    font-size: 20px;
}

.container {
    display: grid;
    text-align: center;
    transition: var(--transition-0-5s);
}

.content {
    margin: 0;
}

.content-child {
    margin-left: 10px;
}

.content-settings {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-section-settings {
    margin: 0 10px;
}

#sidebar-settings {
    width: 300px;
    margin: 0 20px;
    height: fit-content;
    position: sticky;
    top: 140px;
    padding: 5px;
}

#sidebar-settings .sidebar-image {
    width: 30px;
    height: auto;
    margin: 0;
}

#sidebar-settings a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 100%;
}

.sidebar-items {
    width: 90%;
    margin-left: 0;
}

#sidebar-settings a:not(#active) span {
    margin-left: -15px;
    transition: var(--transition-0-2s);
    color: var(--main-text);
}

#sidebar-settings a:hover:not(#active) span {
    margin-left: 5px;
    transition: var(--transition-0-2s);
    color: var(--main-text);
}

#sidebar-settings a:not(#active) img {
    opacity: 0;
    animation: rollOut 0.5s;
}

#sidebar-settings a:hover:not(#active) img {
    animation: rollIn 0.5s;
    opacity: 1;
    z-index: 2;
}
a {
    all: unset;
    cursor: pointer;
    display: block;
    width: inherit;
}

.sections p a {
    all: unset;
    transition: var(--transition-0-5s);
    background-color: var(--transparent-main);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--main-tertiary);
    padding: 5px;
    margin: 30px 0px;
    cursor: pointer;
}

#remove-request {
    color: red;
    font-weight: 800;
}

.sidebar {
    margin-top: 0;
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: var(--transparent-main);
    border-radius: 10px;
    border: 2px solid var(--main-tertiary);
    box-shadow: 0 0 30px var(--main-tertiary);
    display: grid;
}

#profile-title {
    display: grid;
}

#profile-title img {
    margin: 20px auto;
}

.profile-sidebar {
    width: 100%;
    margin-top: 0;
}

#profile-top-container {
    height: 15em;
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
}

#profile-top-img {
    position: absolute;
    filter: blur(2px);
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
    transition: var(--transition-1s);
}

#profile-top-details {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    left: 50%;
    top: 50%;
    text-align: center;
    padding: 20px;
    background-color: var(--transparent-main);
    border-radius: 10px;
    border: 1px solid var(--main-tertiary);
    display: flex;
    box-shadow: 0 0 25px var(--main-tertiary);
    transition: var(--transition-1s);
}

#profile-top-details .container {
    margin: auto;
    text-align: left;
    margin-left: 10px;
    overflow: hidden;
    display: grid;
    align-content: center;
    padding: 20px 0;
}

.items {
    font-size: 18px;
}

.items a {
    margin: 10px 0px;
    transition: var(--transition-0-5s);
}

#active{
    transform: scale(1.15);
    padding-left: 20px;
    background: var(--background-opposite);
    color: var(--opposite-text);
    border: 2px solid var(--sidebar-active-background);
    font-weight: 700;
    transition: var(--transition-0-5s);
}

#active span {
    margin-left: 5px;
    color: var(--opposite-text);
}

.sidebar a {
    padding: 20px 0 20px 10px;
    margin: 15px 0;
    border: 2px solid var(--main-tertiary);
    border-radius: 10px;
    display: block;
    width: inherit;
    background-color: var(--sidebar-item-background);
    color: var(--main-text);
    transition: var(--transition-0-2s);
}

.sidebar a:hover:not(#active) {
    padding-left: 20px;
    background: var(--background-main);
    border: 2px solid black;
    transition: var(--transition-0-2s);
}

.sidebar-title {
    background-color: var(--main-secondary);
    border-radius: 10px;
    border: 2px solid var(--main-tertiary);
    box-shadow: 0 0 30px var(--main-tertiary);
    padding: 10px;
}

.content-show {
    background-color: var(--main-secondary);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--main-tertiary);
    width: 95%;
    height: 100%;
    padding: 10px;
    text-align: center;

}

.setting {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 0;
}

.setting p {
    text-align: left;
}

.item-text {
    margin-left: none;
}

.level {
    height: 400px;
}

.level-container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20px 10px;
}

.level-container img {
    height: auto;
    width: 80%;
    border-radius: 8px;
    transition: var(--transition-0-5s);
}

.level-container img:hover {
    border: 5px solid var(--main-tertiary);
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05);
    transition: var(--transition-0-5s);
}

.level-details p {
    overflow-y: auto;
    overflow-x: auto;
    height: 20vh;
    padding: 5px;
}

.container-grid-split-middle {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
}

#form-change-pfp {
    display: grid;
    padding-bottom: 10px;
}

#form-change-pfp img {
    height: 20em;
    object-fit: cover;
}

#form-change-pfp .container {
    width: 95%;
}



#form-change-pfp .container button {
    border-radius: 0 10px 10px 0;
}


#form-change-pfp .container input {
    border-radius: 10px 0 0 10px;
}

#form-change-pfp .container {
    display: flex;
}

#edit_details_form {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

#edit_details_form .field {
    margin: 20px 5px;
}

#edit_details_form .field input {
    height: 50px;
    color: var(--main-text);
    background-color: var(--main-tertiary);
    transition: var(--transition-1-5s);
}

.container #pfp-entry {
    color: var(--main-text);
    background-color: var(--main-tertiary);
    transition: var(--transition-1-5s);
}

#reset-img {
    transition: var(--transition-1s);
}

.admin-reset-image {
    width: 100%;
    height: 100%;
}

.admin-reset-image img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

#person {
    width: 70%;
}

#profile-top-container:hover #profile-top-img {
    filter: blur(8px);
    transition: var(--transition-0-2s);
}

#profile-top-container:hover #profile-top-details {
    width: 100%;
    height: 100%;
    transition:var(--transition-0-2s);
}


#friends a {
    display: block;
    margin: 20px 0;
    padding: 10px;
}

#friends a:hover {
    display: block;
    margin: 20px 0;
    padding: 60px 0;
}

#send-request-in-profile {
    transition: var(--transition-1s);
}

#send-request-in-profile:hover {
    padding: 20px 0;
    transition: var(--transition-0-2s);
}

/* LEVELS PAGE CSS */

.container-levels {
    padding: 20px;
}

.container-levels .title h2 {
    font-size: 20px;
}

.container-levels .inner {
    padding: 20px;
    border-radius: 10px;
    transition: var(--transition-0-5s);
    width: 100%;
    margin-left: 0;
}

.container-level {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px 0;
}

.container-level img {
    width: 100%;
    height: 300px;
    border: 2px solid var(--main-tertiary);
    border-radius: 10px;
    opacity: 0.8;
    transition: var(--transition-0-5s);
    object-fit: cover;
}

.container-level img:hover {
    opacity: 1;
}

.container-level .details {
    padding: 20px;
}

.container-level .details p {
    padding: 20px 5px;
    overflow: auto;
    height: 100px;
}


/* SEARCH CSS */

.search form {
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
    padding: 20px;
    transition: var(--transition-0-5s);
}

.search form button {
    width: 100%;
    margin-left: 0;
}

.search .details {
    transition: var(--transition-0-2s);
    background-color: inherit;
    border-radius: 10px;
}

.search .details:hover {
    background-color: var(--main-tertiary);
    transition: var(--transition-0-2s);
}

form{
    background-color: var(--main-secondary);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--main-tertiary);
    box-shadow: 0 0 40px var(--main-tertiary);
}


form *{
    font-family: 'Poppins',sans-serif;
    color: var(--main-text);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

input {
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--main-primary);
    color: var(--main-text);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}

.dropdown {
    display: grid;
    grid-template-columns: 95% 5%;
}

.dropdown h1 {
    margin-left: 0;
}

.dropdown a:not(.collapsed)+#people-results {
    display: none;
}

.results {
    padding: 20px 10px;
    margin: 10px;
    background-color: var(--main-secondary);
    border: 2px solid var(--main-tertiary);
}

.people .info img {
    margin: 0 10px;
}

.levels .info img {
    height: 100px;
    width: 250px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;
}

.result {
    background-color: var(--main-primary);
    border-radius: 10px;
    border: 2px solid var(--main-secondary);
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 10px 0px;
}

.result button {
    width: 100%;
    padding: 10px 20px;
}

.result a {
    all: unset;
    cursor: pointer;
}

.info {
    display: flex;
    margin: 20px;
}

.inner {
    margin-left: 10px;
}

.people .inner {
    float: left;
}

.friend {
    padding: 20px;
    margin-left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    transition: var(--transition-0-5s);
}

.friend img {
    margin-left: 0;
    margin-right: 0;
}

.friend .information {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 0;
    margin-left: 0;
}

.friend .information .game-details {
    margin-right: 0;
}

.edit {
    display: flex;
    flex-wrap: wrap;
}

.edit img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 10px;
}

.edit form {
    display: flex;
    width: 100%;
    border: none;
}

.edit form button {
    margin: 0px;
}

.details {
    margin-top: 0;
    width: 100%;
}

.details section {
    margin-top: 0;
}

.friends section {
    margin-left: 0;
    width: 100%;
}

.friends table {
    margin-top: 10px;
    overflow: hidden;
}

.friends #person {
    display: grid;
    grid-template-columns: 30% 60%;
}

.friends .sidebar {
    padding: 10px 5px;
    text-align: left;
}

#friend-details {
    margin-top: 0;
}

#friend-top-bar {
    display: flex;
    justify-content: space-around;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.friend-top-bar-item {
    background-color: var(--main-secondary);
    margin: auto;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin: 0 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.friend-top-bar-item-active {
    background-color: var(--main-tertiary);
    margin: auto;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin: 0 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: default;
}

.dynamic-section-friends {
    display: none;
}


/* PRIVACY */

#privacy-form {
    padding: 20px;
    margin-top: 20px;
}

select {
    width: 60%;
    font-size: 15px;
    margin-right: 0;
    /* display: block; */
    text-align: center;
    background-color: var(--main-tertiary);
    padding: 20px;
    border-radius: 10px;
}

option {
    padding: 20px 0;
}

label {
    color: white;
    margin-left: 0;
}

.container-flex {
    padding: 20px 0;
    display: flex;
}

.profile-picture-default {
    object-fit: cover;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.profile-picture-large {
    object-fit: cover;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.profile-picture-small {
    object-fit: cover;
    border-radius: 100%;
    width: 75px;
    height: 75px;
}


/* SETUP PAGES */

.setup-middle {
    margin: auto;
    margin-top: 20%;
}

.bg-blue {
    background: linear-gradient(90deg, rgb(6, 0, 120) 0%, rgb(61, 61, 151) 38%, rgb(136, 72, 181)100%);
}

.bg-green {
    background: linear-gradient(90deg, rgb(2, 92, 0) 0%, rgb(17, 173, 9) 38%, rgb(90, 204, 29) 100%);
}

.bg-main {
    background: linear-gradient(45deg, rgba(3,0,60,1) 0%, rgba(68,68,255,1) 38%, rgb(141, 0, 241) 100%);
}

.bg-vibrant {
    background: linear-gradient(90deg, rgb(188, 52, 212) 0%, rgb(255, 68, 137) 38%, rgb(141, 0, 241) 100%);
}

.bg-levels {
    background: linear-gradient(90deg, rgb(103, 42, 48) 0%, rgb(142, 25, 68) 38%, rgb(255, 128, 0) 100%);
}

.bg-settings {
    background: linear-gradient(90deg, rgb(92, 92, 184) 0%, rgb(91, 163, 218) 38%, rgb(82, 61, 243) 100%);
}

.transform-105:hover {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05);
    transition: var(--transition-0-5s);
}

.transform-105, .transform-115 {
    transition: var(--transition-0-5s);
}

.transform-115:hover {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15);
    transition: var(--transition-0-5s);
}

.color-red {
    color: red;
}

.weight-600 {
    font-weight: 600;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.tcenter {
    text-align: center;
}

.fs15 {
    font-size: 15px;
}

.m10 {
    margin: 10px;
}

.pt10vh {
    padding-top: 10vh;
}

.w100 {
    width: 100%;
}

.grid-middle {
    display: flex;
    width: 100%;
}

.grid-30-70 {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
}

.grid-gap-20 {
    display: grid;
    grid-gap: 20px;
}

.container {
    width: 100%;
    margin-top: 0;
    height: 100%;
    display: block;
    max-height: 500px;
}

.profile-section {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    background-color: var(--main-tertiary);
    transition: var(--transition-0-5s);
}

.profile-section a {
    transition: var(--transition-0-5s);
    padding: 5px;
    border-radius: 10px;
}

.profile-section a:hover {
    background-color: var(--main-secondary);
    transition: var(--transition-0-2s);
}

textarea {
    height: auto;
    width: 100%;
    overflow-y: scroll;
    resize: none;
}

.changed {
    animation: changed 0.5s ease infinite;
}

.not_changed {
    animation: not_changed 1s ease-out infinite;
}

@keyframes changed {
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes not_changed {
    50% { transform: scale(0.7); }
    100% { transform: scale(1); }
}

@keyframes rollIn {
    0% { opacity: 0; transform: translateX(-80%)}
    100% { opacity: 1; transform: translateX(0px); display: block;} 
} 

@keyframes rollOut {
    0% { opacity: 1; transform: translateX(0px)} 
    100% { opacity: 0; transform: translateX(-80%); display: none;}
} 

@media screen and (max-width: 1000px) {
    #reduced { display: inline; }
    #expanded { display: none; }
    #options { display: none; }
    .container-grid-split-middle { display: block; }
}

@media screen and (min-width: 1000px) {
    #reduced { display: none; }
    #expanded { display: flex; }
    #options { display: none; }
}

@media screen and (max-width: 700px) {
    .levels .info { display: grid; }
    .people .info { display: grid; }
    .section-home .cards { display: block; }
}

/* NEW USER */

#new-user-form  {
    margin-bottom: 20px;
}

#new-user-form input {
    height: 50px;
    border-radius: 15px;
}

#new-user-form .edit {
    display: grid;
    align-content: space-between;
    padding: 20px;
}

.new-user-form-revert {
    padding: 10px 30px;
    background-color: var(--main-secondary);
    border-radius: 10px;
    transition: var(--transition-0-2s);
}

.new-user-form-revert:hover {
    cursor: pointer;
    background-color: var(--main-tertiary);
    transition: var(--transition-0-2s);
}

.new-user-form .container img {
    height: 300px;
    width: 100%;
}

:root {
    --transition-0-2s: 0.2s var(--transition-type-eio);
    --transition-0-5s: 0.5s var(--transition-type-eio);
    --transition-0-8s: 0.8s var(--transition-type-eio);
    --transition-1s: 1s var(--transition-type-eio);
    --transition-1-5s: 1.5s var(--transition-type-eio);

    --transition-type-eio: ease-in-out;
}

:root[data-theme = "light"] {

    --background-main: linear-gradient(90deg, rgb(145, 145, 255) 0%, rgb(79, 179, 255) 38%, rgb(135, 119, 255) 100%);
    --background-opposite:  linear-gradient(90deg, rgb(4, 0, 90) 0%, rgb(48, 48, 94) 38%, rgb(75, 56, 88)100%);
    --navbar-background: linear-gradient(45deg, rgba(4,0,90,0.8) 0%, rgba(48,48,94,0.8) 38%, rgba(75,56,88,0.8) 100%);
    
    /* Buttons */
    --button-accept-background: rgb(66, 195, 66);
    --button-reject-background: rgb(215, 59, 59);
    --button-remove-background: rgb(245, 52, 52);
    --button-apply: rgb(100, 230, 100);

    /* sidebar */
    --sidebar-active-background: white;
    --sidebar-hover-item-background: rgb(117, 190, 233);
    --sidebar-item-background: rgb(255, 255, 255);

    /* transparent items */

    --transparent-main: rgba(255, 255, 255, 0.5);

    --main-primary: rgb(250, 250, 250);
    --main-secondary: rgb(200, 200, 200);
    --main-tertiary: rgb(150, 150, 150);

    --main-text: rgb(0, 0, 0);
    --opposite-text: rgb(255,255,255);

}

:root[data-theme = "dark"] {

    --background-main:  linear-gradient(90deg, rgb(32, 26, 159) 0%, rgb(81, 13, 126)100%);
    --background-opposite: linear-gradient(90deg, rgb(145, 145, 255) 0%, rgb(79, 179, 255) 38%, rgb(135, 119, 255) 100%);
    --navbar-background: linear-gradient(45deg, rgba(145, 145, 255, 0.2) 0%, rgba(79, 179, 255, 0.2) 38%, rgba(135, 119, 255, 0.2) 100%);

    /* Buttons */
    --button-accept-background: rgb(14 123 14);
    --button-reject-background: rgb(151, 34, 34);
    --button-remove-background: rgb(221, 87, 87);
    --button-apply: rgb(108, 212, 108);
    
    /* sidebar */
    --sidebar-active-background: rgb(180, 180, 180);
    --sidebar-hover-item-background: rgb(92, 139, 225);
    --sidebar-item-background: rgb(40, 40, 40);

    /* transparent items */

    --transparent-main: rgba(0, 0, 0, 0.5);

    --main-primary: rgb(20, 20, 20);
    --main-secondary: rgb(40, 40, 40);
    --main-tertiary: rgb(60, 60, 60);

    --main-text: rgb(255, 255, 255);
    --opposite-text: rgb(0,0,0);
}