/* TAGS */

* {
    padding: auto;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    margin: auto;
    background: var(--orange-pink);
}

.sections {
    padding-top: 10vh;
    padding-bottom: 2vh;
}

.requirements {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 20px;
    height: 100px;
}

.requirements p {
    padding: 10px;
}

form{
    width: 500px;
    height: 50%;
    background-color: rgba(169, 169, 169, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 40px;
}


form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    border: 1px solid rgba(7, 7, 7, 0);
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.3s;
}

input:focus {
    border: 1px solid white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.3s;
}

::placeholder{
    color: #000000;
}

.spacer {
    height: 5vh;
}

.form-submit{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.form-reset{
    margin-left: 10px;
    width: 20%;
    background-color: #6060603c;
    color: #080710;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    margin-top: 50px;
    padding: 20px 100px;
    background-color: var(--transparent-main);
    border-radius: 25px;
}

.container:hover h1 {
    animation: none;
}

.container h1 {
    animation: bounce 1s ease-in-out infinite;
}

#new_page {
    position: relative;
}

#new_page #close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 0 0 20px 20px;
}

/* Homepage */

#homepage {
    display: grid;
    justify-content: center;
}

#homepage h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: var(--transparent-secondary);
}

#homepage section {
    background-color: var(--transparent-main);
    margin: 5vh 40px;
    border-radius: 25px;
    height: max-content;
    position: relative;
    padding: 0 5vh;
    max-width: 1200px;
    min-width: 400px;
}

#homepage section #title, #homepage section h2, #homepage section .features .child {
    background-color: var(--transparent-main);
    border: 2px solid var(--transparent-main);
    border-radius: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    height: max-content;
    transform: translateY(20px);
    backdrop-filter: blur(0.5em);
}

#homepage section h1 {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    padding: 25px 0;
    background-color: #CA4246;
    background-image: var(--hero-title);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: sticky;
    top: 50px;
    animation: rainbow-text-simple-animation 10s ease forwards infinite;
}

#homepage section .features {
    z-index: 5;
    overflow: auto;
    margin-top: 50px;
}

#homepage section .features .child {
    display: flex;
    align-items: center;
    background-color: var(--transparent-main);
    padding: 25px;
    border-radius: 25px;
}

#homepage section .features .child {
    margin-bottom: 50px;
}

#homepage section .features .child .content {
    margin: 20px;
}

#homepage section .features .child .content h3 {
    margin-bottom: 20px;
    background: var(--blue-green);
    color: transparent;
    background-clip: text;
    font-size: 25px;
    animation: feature-title 5s ease forwards infinite;
}

#homepage section .features .child img {
    object-fit: contain;
    margin: 0 50px;
}

#homepage #hero {
    position: relative;
    height: 700px;
    display: grid;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

#homepage #top {
    position: sticky;
}

#homepage #hero #top {
    top: 100px;
    padding-bottom: 100px;
}

#homepage #hero .wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    margin: 5px 0;
    padding: 20px;
    bottom: 0;
}

#homepage #hero .wrapper a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s ease-out;
}

#homepage #hero .wrapper a:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in;
}

#homepage #hero-images-backdrop {
    position: absolute;
    z-index: -1;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#homepage .background-hero {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}


/* Page options */
#page-options {
    display: flex;
    transition: 0.5s ease-in-out;
    top: 0;
}

#page-options ul li:not(#color-picker) {
    padding: 10px 80px;
    border-radius: 20px;
    border: 0.5px solid black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#page-options ul li:not(#color-picker):hover {
    padding: 10px 150px;
    scale: 1.2;
    transition: 0.5s ease-in-out;
}

#page-options ul li:last-child {
    margin-right: 0;
}

#page-options ul {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    background-color: azure;

}

#page-options li {
    list-style-type: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
}


/* Navbar*/

.navbar {
    background: var(--transparent-main);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2em);
    -webkit-backdrop-filter: blur(2em);
    border: 2px solid var(--transparent-main);
    border-top: none;
    border-radius: 0 0 10px 10px;
    width: inherit;
}

.navbar a {
    display: flex;
    color: var(--main-text);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    transition: var(--transition-0-5s);
    border-radius: 45px;
}

.navbar a:hover {
    transition: var(--transition-0-5s);
    background-color: var(--transparent-main);
    color: var(--main-text);
}

.navbar span {
    color: var(--main-text);
}

.navbar a p {
    transition: var(--transition-0-5s);
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
}

.navbar li a {
    margin: 20px;
    text-decoration: none;
    color: var(--main-text);
}

.navbar #options {
    top: 100px;
    right: 0px;
    background: var(--navbar-background);
    backdrop-filter: blur(2em);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-expand {
    all: unset; 
    cursor: pointer; 
    padding: 10px;
}

/* Universal */
  
.bg-blue {
    background-color: rgb(48, 48, 178);
}

/* Auth Controls */
.login {
    height: 450px;
}

@media screen and (max-width: 800px) {
    #logo_name { display: none; }
    #homepage .features img { height: 100px; width: 100px; }
}

@media screen and (max-width: 679px) {
    #reduced { display: inline; }
    #expanded { display: none; }
    #options { display: none; }
    #logo_name { display: block; }
    #homepage #hero .wrapper { display: grid; }
}

@media screen and (min-width: 680px) {
    #reduced { display: none; }
    #expanded { display: flex; }
    #options { display: none; }
    #homepage .features img { height: 200px; width: 200px; }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes feature-title {
    0% {
        background-position: 100%;
    }

    50% {
        background-position: 400%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes bounce {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

:root {

    --hero-title: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #476098 66.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #476098 83.333%, 
        #8B9862 66.666%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #A7489B 83.333%);
    
    --orange-pink: linear-gradient(to bottom right, rgb(255, 102, 0) 0%, rgb(255, 0, 93) 100%) 0 0 / 400% 100%;
    --blue-green: linear-gradient(to right, rgb(81, 0, 255) 0%, rgb(0, 146, 97)) 0 0 / 200% 100%;
    /* transparent items */

    --transparent-main: rgba(255, 255, 255, 0.2);
    --transparent-secondary: rgba(204, 204, 204, 0.8);

    --main-primary: rgb(179, 179, 179);
    --main-secondary: rgb(133, 133, 133);
    --main-tertiary: rgb(78, 78, 78);

    --main-text: rgb(0, 0, 0);

    --transition-0-2s: 0.2s var(--transition-type-eio);
    --transition-0-5s: 0.5s var(--transition-type-eio);
    --transition-0-8s: 0.8s var(--transition-type-eio);
    --transition-1s: 1s var(--transition-type-eio);
    --transition-1-5s: 1.5s var(--transition-type-eio);

    --transition-type-eio: ease-in-out;
}