<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body class="bg-blue">
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <div>
            <h1 class="page-title">Your Profile</h1>
            <p style="padding: 10px; text-align: center;">You can delete history in the general tab</p>
        </div>
        <section class="profile settings">
            <%- include('sidebar.ejs') -%>
            <div class="content">
                <section class="profile-inner" style="width: 90%; margin-top: 10px;">
                    <p style="text-align: center;">New features will go here</p>
                </section>
                <section style="width: 90%; margin-top: 10px;">
                    <p style="margin-bottom: 10px; text-align: center; font-weight: 900;">The following action cannot be undone!</p>
                    <button class="transform-120"><a href="#" style="color: red;">Reset histroy and leaderboard</a></button>
                    <p style="margin-top: 10px; text-align: center; ">Not yet implemented</p>
                </section>
            </div>
        </section>
    </div>
</body>
</html>