<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy</title>
</head>
<body class="bg-blue">
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <div>
            <h1 class="page-title">Privacy</h1>
            <p style="padding: 10px; text-align: center;">Manage your privacy details here</p>
        </div>
        <section class="settings main-section">
            <%- include('sidebar.ejs') -%>
            <div class="content">
                <section class="profile-inner" style="margin-top: auto;">
                    <h1 class="title">Test Privacy</h1>
                </section>
            </div>
        </section>
    </div>
</body>
</html>