<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Settings | ATC</title>
</head>
<body class="bg-settings">
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <div>
            <h1 class="page-title">Settings</h1>
            <p style="padding: 10px; text-align: center;">This is where your settings live</p>
        </div>
        <section class="settings">
            <%- include('sidebar.ejs') -%>
            <div>
                <p>Click one of the options in the sidebar to see more</p>
            </div>
        </section>
    </div>
</body>
</html>