<section class="sidebar">
    <h1 class="title transform-105">Options</h1>
    <div class="items">
        <p class="transform-105" style="cursor: pointer;"><a href="/settings/profile">Profile</a></p>
        <p class="transform-105" style="cursor: pointer;"><a href="/settings/friends">Friends</a></p>
        <p class="transform-105" style="cursor: pointer;"><a href="/settings/general">General</a></p>
        <%_ if(is_admin == "true") { %>
            <p class="transform-105" style="cursor: pointer;"><a href="/settings/admin">Admin</a></p>
        <%_ } %>
        <p class="transform-105" style="cursor: pointer;"><a href="/logout" >Log out</a></p>
    </div>
</section>