<section id="sidebar-settings" class="sidebar">
    <h1 class="title">Options</h1>
    <div class="items sidebar-items">
        <a id="0" class="transform-115 item profile" href="/settings/profile"><img class="sidebar-image" id="0-icon" src="../../../images/private/settings/profile.svg" alt=""><span>Profile</span></a>
        <a id="1" class="transform-115 item friends" href="/settings/friends"><img class="sidebar-image" id="1-icon" src="../../../images/private/settings/AI-friends.png" alt=""><span>Friends</span></a>
        <a id="2" class="transform-115 item general" href="/settings/general"><img class="sidebar-image" id="2-icon" src="../../../images/private/settings/cog.svg" alt=""><span>General</span></a>
        <a id="3" class="transform-115 item privacy" href="/settings/privacy"><img class="sidebar-image" id="3-icon" src="../../../images/private/settings/privacy.svg" alt=""><span>Privacy</span></a>
        <%_ if(is_admin == "true") { %>
            <a id="4" class="transform-115 item" href="/settings/admin"><img class="sidebar-image" id="4-icon" src="../../../images/private/settings/admin.svg" alt=""><span>Admin</span></a>
        <%_ } %>
        <a id="5" class="transform-115 item" href="/settings/version" ><img class="sidebar-image" id="5-icon" src="../../../images/private/settings/version.svg" alt=""><span>Version</span></a>
        <a id="6" class="transform-115 item" href="/logout/confirm/this"><img class="sidebar-image" id="6-icon" src="../../../images/private/settings/logout.svg" alt=""><span>Logout</span></a>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    let path = window.location.pathname
    for(i in $('.item').parents($('.sidebar-items').length)) {;
        if($(`#${i}`).attr('href') == path) {
            $(`#${i}`).attr('id', 'active')
        }
    }
</script>