<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[current_user]'s Homepage</title>
    <link rel="stylesheet" href="/css/private.css">
</head>
<body class="bg-main" style="height: 100vh;">
    <span id="profile_visibility" style="display: none;"><%= user.profile %></span>
    <span id="history_visibility" style="display: none;"><%= user.history %></span>
    <span id="leaderboard_visibility" style="display: none;"><%= user.leaderboard %></span>
    <section class="main-section setup-middle" style="margin-top: 20%;">
        <section style="padding: 20px 0;">
            <h1 class="tcenter">Welcome to your new profile!</h1>
            <p class="tcenter">It's great to have you here</p>
        </section>
        <form id="privacy-form" action="/backend/update/user/privacy/<%= user.id %>" method="POST" style="margin-bottom: 20px;">
            <div class="container-flex">
                <label for="privacy_setting_profile">Who can view your Profile?</label>
                <select id="privacy_setting_profile_select" name="privacy_setting_profile">
                    <option id="profile_everyone" value="global">Everyone</option>
                    <option id="profile_friends" value="friends">Friends</option>
                </select>
            </div>
            <div class="container-flex" id="privacy_setting_history">
                <label for="privacy_setting_history">Who can view your History?</label>
                <select id="privacy_setting_history_select" name="privacy_setting_history">
                    <option id="history_everyone" value="global">Everyone</option>
                    <option id="history_friends" value="friends">Friends</option>
                    <option id="history_private" value="private">Private</option>
                </select>
            </div>
            <div class="container-flex">
                <label for="privacy_setting_leaderboard">Who can view your Leaderboard?</label>
                <select id="privacy_setting_leaderboard_select" name="privacy_setting_leaderboard">
                    <option id="leaderboard_everyone" value="global">Everyone</option>
                    <option id="leaderboard_friends" value="friends">Friends</option>
                    <option id="leaderboard_private" value="private">Private</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
        <button><a href="/account/setup/finish">Finish</a></button>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $('#privacy_setting_profile_select').val(`${$('#profile_visibility').text()}`).attr('selected', true)
        $('#privacy_setting_history_select').val(`${$('#history_visibility').text()}`).attr('selected', true)
        $('#privacy_setting_leaderboard_select').val(`${$('#leaderboard_visibility').text()}`).attr('selected', true)

        $('#privacy_setting_profile_select').on('change', () => {
            if($('#profile_friends').is(':selected')) {
                $('#history_everyone').remove()
            } else if($('#profile_everyone').is(':selected')) {
                $('#privacy_setting_history_select').prepend(`<option id="history_everyone" value="global">Everyone</option>`)
            }
        })
    </script>
</body>