<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final touches</title>
</head>
<body>
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <section class="settings">
            <%- include('sidebarnew.ejs') -%>
        </section>
    </div>
</body>
</html>