<section class="sidebar">
    <h1 class="title transform-105">Edit Level <span style="font-weight: 800;"><%= level[0].airport_icao %></span> <br> <span style="font-size: 15px;">Options</span></h1>
    <div class="items">
        <p class="transform-105" style="cursor: pointer;"><a href="/admin/edit/<%=level[0].id%>/details">Details</a></p>
        <p class="transform-105" style="cursor: pointer;"><a href="/admin/edit/<%=level[0].id%>/layout">Layout</a></p>
        <p class="transform-105" style="cursor: pointer;"><a href="/settings/admin">Exit</a></p>
    </div>
</section>